<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать | Пара планер</title>
    <link rel="shortcut icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
<style>
    .settings-block-start {display:none;z-index:2;position:fixed;background-color:white;height:500px;width:1000px;border-radius:20px;left:100px;top:20px;}
    #background {z-index:1;background-color:black;opacity:0.3;height:1000%;position:absolute;width:100%;margin:0px;top:0px;left:0px;}
    #welcome {margin-left: 30px;position:absolute;top:-10px;left:120px;}
    .logo{position:absolute;top:25px;left:50px;width:90px;}
    #save-dates {position:absolute;top:100px;left:70px;}
    .progress-line {position:absolute;top:5px;width:300px;background-color:#858585;height:3px;border-radius:1px;}
    #dates-info {position:absolute;top:100px;left:630px;font-size:18px;}
    #submit-dates {position:absolute;top:-80px;left:850px;}
    .next {position:absolute;top:20px;left:920px;}
    .back {position:absolute;top:20px;left:10px;}
    .headline{margin-left: 30px;position:absolute;top:0px;left:120px;}
    .move{background-color:transparent;color:#858585;font-size:60px;}
    #nsu {position:absolute;left:50px;top:120px;}
    #not_nsu {position:absolute;left:525px;top:120px;width:425px;}
    .university-button {background-color:#FFF281;position:absolute;top:150px;left:500px;}
    #not_nsu_button {margin-left:90px;}
    button{background-color:#3DD8FA;}
    .university-image{width:300px;margin-left:62.5px;}
    #show_schedule {position:absolute;top:100px;left:570px;}
    #edit_schedule {position:absolute;top:100px;left:570px;}
    #auto_schedule {position:absolute;top:180px;left:70px;font-size:20px;}
    #select_color {position:absolute;top:120px;left:70px;}
    #import_form {position:absolute;top:120px;left:70px;}
    .plus {font-size:30px;color:#858585;margin-left:-5px;user-select: none;}
    .close_button {font-size:20px;color:#858585;margin-left:5px;}
    .add_holidays {position:absolute;top:120px;}
    .right {margin-left:5px;margin-top:2px;}
    .plus:hover {cursor:pointer;}
    .close_button:hover {cursor:pointer;}
    #holidays {position:absolute;top:180px;font-size:14px;}
    #exams_date_label:hover .tooltiptext{visibility:visible;}
    #semester_form_hover:hover .tooltiptext{visibility:visible;}
    .tooltiptext {font-size:14px;width:300px;position:absolute;left:390px;}


</style>
</head>
<body>
<div id="background"></div>
<div class="settings-block-start" id="dates">
    <div class="progress-lines">
        <div class="progress-line" style="left:25px;background-color:#3DD8FA;"></div>
        <div class="progress-line" style="left:350px;width:150px;"></div>
        <div class="progress-line" style="left:500px;width:150px;"></div>
        <div class="progress-line" style="left:675px;"></div>
    </div>
    <img class="logo" src="/static/images/logo.svg" alt="Логотип">
    <h4 h4 class="headline">Учебный календарь</h4>
    <form method="POST" id="save-dates" style="font-size:20px;">{% csrf_token %}
        <div id="semester_form_hover">{{semester_form.as_p}}
        <span class="tooltiptext" style="top:20px;">Пожалуйста, укажи правильные даты. Иначе приложение может работать неправильно.</span>
        </div>
        <p id="add_exams" style="margin-top:-10px;"><span class="plus" onclick="Activate('add_exams','exams_block','add_exams')">+</span>сессия</p>
        <div id="exams_block" style="display:none;">
        <label for="exams_date" id="exams_date_label">Дата начала сессии:<span class="tooltiptext" style="top:110px;">
            Обрати внимание, что дата начала сессии должна быть меньше даты окончания семестра.</span></label>

        <input type="date" id="exams_date" name="exams_date" value={{settings.exams_date}}>
            <span class="close_button" onclick="Activate('exams_block','add_exams','exams_date')">x</span>
            </div>
        <p id="add_holidays1" class="add_holidays" ><span class="plus" onclick="n=AddHoliday()">+</span>каникулы</p>
        <p id="add_holidays2" class="add_holidays" style="display:none;">Добавить каникулы<span class="plus right" onclick="n=AddHoliday()" onmouseout="RemoveTooltip()">+</span><span class="plus right" onclick="DeleteHoliday()">-</span>
        <span class="tooltiptext" id="tooltiptext-holidays" style="top:20px;">Ты можешь добавить не более восьми каникул.</span></p>
     <br>
        <div id="holidays">
    </div>
        <button name="save_dates" class="move" id="submit-dates" type="submit" >></button>
    </form>

    <p id="dates-info">
        </p>
</div>
<div class="settings-block-start" id="university">
    <div class="progress-lines">
        <div class="progress-line" style="left:25px;"></div>
        <div class="progress-line" style="left:350px;width:150px;background-color:#3DD8FA;"></div>
        <div class="progress-line" style="left:500px;width:150px;"></div>
        <div class="progress-line" style="left:675px;"></div>
    </div>
    <img class="logo" src="/static/images/logo.svg" alt="Логотип">
    <h4 class="headline">Где ты учишься?</h4>

    <button class="move back" onclick="Back('university','dates')"><</button>
    <form method="POST" id="nsu">{% csrf_token %}
    <img class="university-image" src="/static/images/nsu.svg" alt="Новосибирский государственный университет (НГУ)">
        <div style="font-size:20px;position:absolute;left:500px;top:0px;width:500px;">
        <p>Выбери место, где ты учишься:</p>
            <label for="select">Выбрать из списка:</label>
            <input list="select" name="select_university">
        <datalist id="select">
            <option selected></option>
            {% for university in universities %}
            <option>{{university}}</option>
            {% endfor %}
        </datalist>
            <br>
            <input type="radio"  id="other_radio" onchange="Other()">
            <input type="hidden" id="other"name="other" value="False">
            <label for="other">Другое:</label>
        <input id='other_university' name="other_university" type="text">

            </div>
    <button type="submit" name="save_university" class="university-button" >Сохранить</button>
        </form>
</div>

<div class="settings-block-start" id="schedule">
    <div class="progress-lines">
        <div class="progress-line" style="left:25px;"></div>
        <div class="progress-line" style="left:350px;width:150px;"></div>
        <div class="progress-line" style="left:500px;width:150px;background-color:#3DD8FA;"></div>
        <div class="progress-line" style="left:675px;"></div>
    </div>
    <img class="logo" src="/static/images/logo.svg" alt="Логотип">
    <h4 class="headline">Расписание звонков</h4>
    <button class="move back" onclick="Back('schedule','university')" ><</button>
    <p style="font-size:20px;position:absolute;top:110px;left:70px;">
        Задай необходимые парметры и расписание звонков установится само.<br>
        Ты также можешь изменить его вручную.
        </p>
    <form method="POST"  style="font-size:20px;">{% csrf_token %}
        <input type="hidden" name="nsu_hidden" value=0>
        <button name="move_to_last" class="move next"  type="submit" >></button></form>
    <div id="show_schedule" style="display:block;">
    <table style="position:absolute; top:100px;font-size:20px;">
    {% for time in schedule %}
        <tr>
      <td>{{ time.number }}</td>
      <td>{{ time.start_time }}</td>
      <td>{{ time.end_time }}</td>
        </tr>
    {% endfor %}
        </table>
    <button onclick="Edit_schedule()" style="position:absolute;top:330px;" >Редактировать</button>
</div>
<div id="edit_schedule" style="display:none;">
{% block schedule %}
    <form method="POST" class="post-form" style="position:absolute;font-size:20px;">{% csrf_token %}
        <table style="position:absolute; top:100px;font-size:20px;">
    {% for time in schedule %}
        <tr>
      <td>{{ time.number }}</td>
      <td><input class="select-time" type="time"  name ='start_time{{time.number}}' value='{{ time.start_time|time:"H:i"}}'></td>
      <td><input class="select-time" type="time" name ='end_time{{time.number}}' value='{{ time.end_time|time:"H:i" }}'></td>
        </tr>
    {% endfor %}
        </table>
    <button  style="position:absolute; top:330px;font-size:20px;" name="save_manual"type="submit" class="save btn btn-default">Сохранить</button>
    </form>
{% endblock %}
</div>
{% block settings %}
    <div id="auto_schedule">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ settings_form.as_p }}
        <button type="submit"name="save_auto" class="save btn btn-default">Сохранить</button>
    </form>
        </div>
{% endblock %}
</div>
<div class="settings-block-start" id="import">
    <div class="progress-lines">
        <div class="progress-line" style="left:25px;"></div>
        <div class="progress-line" style="left:350px;width:150px;"></div>
        <div class="progress-line" style="left:500px;width:150px;background-color:#3DD8FA;"></div>
        <div class="progress-line" style="left:675px;"></div>
    </div>
    <button class="move back" onclick="Back('import','university')" ><</button>
     <form method="POST"  style="font-size:20px;">{% csrf_token %}
         <input type="hidden" name="nsu_hidden" value=1>
        <button name="move_to_last" class="move next"  type="submit" >></button></form>
    <img class="logo" src="/static/images/logo.svg" alt="Логотип">
    <h4 class="headline">Импорт расписания</h4>
    <form method="POST" class="post-form" id="import_form" style=''>{% csrf_token %}
        <p style="font-size:20px;">Тебе повезло!<br>
            Просто введи <b>номер своей группы</b> и расписание запишется само.<br>
            Ты в любой момент сможешь его отредактировать.<br>
            Расписание звонков ты также можешь изменять в настройках.
        </p>
        <input type="text" name="group">
    <button type="submit" name="import_timetable" class="save btn btn-default">Импортировать</button>
</form>
</div>
<div class="settings-block-start" id="appearance">
    <div class="progress-lines">
        <div class="progress-line" style="left:25px;"></div>
        <div class="progress-line" style="left:350px;width:150px;"></div>
        <div class="progress-line" style="left:500px;width:150px;"></div>
        <div class="progress-line" style="left:675px;background-color:#3DD8FA;"></div>
    </div>
    {% if settings.university == 'Новосибирский государственный университет (НГУ)' %}
    <button class="move back" onclick="Back('appearance','import')"><</button>
    {% else %}
    <button class="move back" onclick="Back('appearance','schedule')"><</button>
    {% endif %}
     <form method="POST"  style="font-size:20px;">{% csrf_token %}
        <button name="move_to_last" class="move next"  type="submit" >></button></form>
    <img class="logo" src="/static/images/logo.svg" alt="Логотип">
    <h4 class="headline">Последний штрих</h4>
    <form method="POST" class="post-form" id="select_color">{% csrf_token %}
         {% if nsu_import %}
        <p style="font-size:20px;">Твоё расписание успешно импортировано!<br>
            Перед тем, как перейти к нему, давай раскрасим твой пара.планер!<br>
            Выбери <b>цветовую схему</b> приложения:</p>
        {% else %}
        <p style="font-size:20px;">Давай раскрасим твой пара.планер!<br>
            Выбери <b>цветовую схему</b> приложения:</p>
        {% endif %}
    {% for color in colors %}
        {% if color == settings.theme %}
        <input type="radio" class='color' name=color id= {{ color }} checked value={{ color }} onchange="Color('{{color}}')">
        {% else %}
        <input type="radio" class='color' name=color id= {{ color }} value={{ color }} onchange="Color('{{color}}')">
        {% endif %}
        <label for={{ color }} style='display:inline-block;background-color:{{ color }};width:40px;border-radius:40px;'>⠀</label>
        {% if color == '#80FE6C' %}
        <br>
        <br>
        {% endif %}
{% endfor %}
        <br>
    <button type="submit" name="save_color"  id='save_color' class="save btn btn-default" style="background-color:{{settings.theme}}">Полетели!</button>
</form>
<div style="position:absolute;left:630px;top:130px;">
    <svg width="301" height="301" viewBox="0 0 301 301" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M128.479 294.57L61.3037 75.806M128.479 294.57L86.042 67.811M128.479 294.57L119.742 67.811M128.479 294.57L243.334 75.806M128.479 294.57L216.406 71.6624M128.479 294.57L196.623 67.811" stroke="black"/>
<path d="M227.803 174.909L221.572 168.332C217.78 164.329 215.884 162.328 213.784 160.55C211.684 158.773 209.397 157.233 204.823 154.154L172.713 132.537L111.988 97.5788L234.154 119.465L227.803 174.909Z" fill="#EBF2F8"/>
<path d="M247.41 169.879L233.311 160.363C227.02 156.117 223.874 153.995 220.459 152.375C217.043 150.755 213.408 149.664 206.14 147.48L162.424 134.347L138.477 125.86C128.002 122.148 119.503 114.31 114.957 104.169V104.169L117.76 100.46L149.86 96.48L187.896 111.16L250.99 137.024L247.41 169.879Z" fill="#EBF2F8"/>
<path d="M250.662 161.589L112.521 93.4785H131.2L257.254 146.609L250.662 161.589Z" fill="#EBF2F8"/>
<path d="M255.265 148.298L115.026 89.0822L128.21 92.1249H135.102L263.953 138.234L255.265 148.298Z" fill="#EBF2F8"/>
<path d="M104.205 124.703C101.097 127.129 97.5828 128.983 93.8257 130.178L72.3339 137.014L47.3374 143.242C41.6738 144.653 38.842 145.358 36.1239 146.382C34.8542 146.86 33.6046 147.39 32.378 147.97C29.7521 149.211 27.2759 150.756 22.3235 153.845V153.845L24.1574 132.92L43.3279 115.179L117.76 96.3127L116.572 103.749C115.246 112.045 110.828 119.532 104.205 124.703V124.703Z" fill="#EBF2F8"/>
<path d="M115.026 96.8798C108.316 108.971 97.7449 118.463 85.003 123.835L80.1205 125.894C72.3135 129.185 64.0174 131.168 55.5657 131.763L37.0318 133.066C35.5302 133.172 34.7794 133.224 34.0391 133.299C27.4879 133.956 21.131 135.9 15.3333 139.021C14.6781 139.373 14.0262 139.749 12.7225 140.502V140.502V140.502C12.7225 134.751 10.3996 129.244 6.28092 125.231L4.87713 123.863L75.4853 96.8798H115.026V96.8798Z" fill="#EBF2F8"/>
<path d="M127.981 101.555L117.252 104.435L116.173 99.3117L126.627 99.8102L127.981 101.555Z" fill="#EBF2F8"/>
<path d="M222.986 136.368L255.213 150.907L253.712 154.815L238.676 148.623L195.529 131.466L164.019 115.057L164.018 115.057C161.568 113.782 160.344 113.144 159.142 112.476C152.19 108.609 145.724 103.927 139.882 98.5278C138.872 97.5949 137.884 96.63 135.908 94.7002L184.546 117.985L222.986 136.368Z" fill="#E2E8EE"/>
<path d="M96.816 98.7916L98.9414 95.1947L72.1828 107.202L72.1816 107.202C71.8133 107.367 71.6289 107.45 71.4447 107.532C64.7087 110.522 57.6627 112.758 50.4353 114.2C50.2375 114.239 50.0389 114.278 49.6419 114.355L49.6414 114.355C49.1685 114.448 48.9319 114.494 48.6966 114.541C40.0914 116.264 31.7504 119.113 23.8887 123.013C23.6736 123.12 23.4581 123.228 23.0273 123.445L13.3009 128.329L54.9205 117.076L75.5227 113.5C80.9007 112.566 85.9349 110.223 90.112 106.709C92.7774 104.467 95.0441 101.79 96.816 98.7916Z" fill="#E2E8EE"/>
<path d="M173.565 126.563L250.591 161.513L182.979 135.141L155.383 124.181C143.32 119.39 133.356 110.459 127.28 98.9888L173.565 126.563Z" fill="#E2E8EE"/>
<path d="M107.18 97.6646L108.886 91.3809L104.121 96.6978C103.702 97.1655 103.493 97.3993 103.282 97.6315C99.9663 101.285 96.3848 104.688 92.5669 107.813C92.3242 108.011 92.0707 108.216 91.5637 108.626C90.5202 109.469 89.9985 109.891 89.4958 110.286C80.806 117.126 71.0418 122.477 60.6008 126.121C59.9969 126.332 59.386 126.536 58.1641 126.945C57.2728 127.244 56.8272 127.393 56.3846 127.546C48.7417 130.184 41.447 133.74 34.6603 138.134C34.2673 138.389 33.8752 138.648 33.0911 139.166L25.2307 144.361L60.6524 131.41L76.0839 127.758C82.2961 126.288 88.0952 123.431 93.047 119.402C99.916 113.813 104.859 106.211 107.18 97.6646Z" fill="#E2E8EE"/>
<path id='right' d="M288.366 149.94L148.525 100.461L209.481 7.10302L300.317 37.911L288.366 149.94Z" fill="{{settings.sub_color}}"/>
<path d="M148.419 100.46H96.1922L71.2948 99.8477L148.419 4.85443L167.095 3.87201C171.862 3.62124 174.246 3.49585 176.571 3.92569C178.896 4.35554 181.077 5.3248 185.44 7.26334L198.724 13.1664L148.419 100.46Z" fill="#858585"/>
<path id='side' d="M148.525 100.46V100.46C141.592 98.2366 138.125 97.1249 134.645 96.2779C121.769 93.144 108.397 92.6009 95.3092 94.68C91.7718 95.2419 88.2266 96.0688 81.1362 97.7225L71.091 100.065L148.412 2.72034L152.708 2.43283C165.791 1.55725 172.333 1.11947 178.847 1.53392C180.473 1.63735 182.096 1.78049 183.714 1.9632C190.201 2.69535 196.565 4.27139 209.292 7.42346V7.42346L148.525 100.46Z" fill="{{settings.theme}}"/>
<path id='left' d="M71.9161 99.7327L0.317509 127.534L107.645 19.8563L148.419 2.71866L71.9161 99.7327Z" fill="{{settings.sub_color}}"/>
<rect x="120.802" y="280.436" width="18.81" height="20.0782" rx="5" fill="white" stroke="black"/>
<path id='tick' d="M129.268 292.1L117.303 287.627L132.625 300.514L137.811 270.222L129.268 292.1Z" fill="{{settings.theme}}"/>
</svg>
</div>
<script>
if ('{{settings.exams_date}}'){
document.getElementById('add_exams').style.display='none';
document.getElementById('exams_block').style.display='block';
};
function Activate (c,o,i){
close=document.getElementById(c);
open=document.getElementById(o);
input=document.getElementById(i);
close.style.display='none';
open.style.display='block';
if (input.value)
{input.value=""};
};
n=0;
function AddHoliday(){
if (n<8){
document.getElementById('add_holidays1').style.display='none';
document.getElementById('add_holidays2').style.display='block';
holidays=document.getElementById('holidays');
var input=document.createElement("div");
input.id= "holiday" + n;
input.appendChild(document.createTextNode("с "));
var input_start = document.createElement("input");
input_start.type = "date";
input_start.name = "holiday_start" + n;
input_start.id= "holiday_start" + n;
input_start.className="holiday start";
input.appendChild(input_start);
input.appendChild(document.createTextNode(" по "));
var input_end = document.createElement("input");
input_end.type = "date";
input_end.name = "holiday_end" + n;
input_end.id= "holiday_end" + n;
input_start.className="holiday end";
input.appendChild(input_end);
input.appendChild(document.createElement("br"));
holidays.appendChild(input);
n++;}
else {
document.getElementById('tooltiptext-holidays').style.visibility='visible';};
return n;}

function DeleteHoliday(){
holidays=document.getElementById('holidays');
holidays.removeChild(holidays.lastChild);
n-=1;
};
function RemoveTooltip(){
document.getElementById('tooltiptext-holidays').style.visibility='hidden';};

function Other(){
radio=document.getElementById('other_radio');
other=document.getElementById('other');
if (radio.checked){other.value="True";}
 else {other.value="False";};};

var compliment_colors=Object('{{compliment_colors}}');
    function Color(color){
     {% for key,value in compliment_colors.items %}
    if ('{{key}}'== color){
    subcolor='{{value}}';}
      {% endfor %}
    button=document.getElementById('save_color');
    left=document.getElementById('left');
    right=document.getElementById('right');
    tick=document.getElementById('tick');
    side=document.getElementById('side');
    button.style.backgroundColor=color;
    left.style.fill=subcolor;
    right.style.fill=subcolor;
    tick.style.fill=color;
   side.style.fill=color;}


    block=document.getElementById('{{step}}');
    block.style.display='block';
    function Back(from,to){
    block1=document.getElementById(from);
    block2=document.getElementById(to);
    block1.style.display='none';
    block2.style.display='block';};
      function Edit_schedule() {
var edit_schedule=document.getElementById("edit_schedule");
var show_schedule=document.getElementById("show_schedule");
show_schedule.style.display="none";
edit_schedule.style.display="block";
  }
function Show_schedule() {
var edit_schedule=document.getElementById("edit_schedule");
var show_schedule=document.getElementById("show_schedule");
edit_schedule.style.display="none";
show_schedule.style.display="block";
}
var numbers=document.getElementsByClassName('number');
for (let i=0;i<numbers.length;i++){
numbers[i].innerHTML=i+1};


</script>
</body>
</html>